<?xml version="1.0"?>
<!--
/**
 * GiftList
 *
 * GiftList Extension for Magento 2.
 *
 * @package UnknownDevs\GiftList
 * @author Edilson Cichon <edilsoncichon@hotmail.com>
 * @author Paulo Araújo <pauloaraujos@gmail.com>
 * @copyright Copyright (c) 2018 UnknownDevs (https://unknowndevs.com.br/)
 * @license https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="giftlist" frontName="giftlist">
            <module name="UnknownDevs_GiftList" />
        </route>
    </router>
</config>
